.custom-alert {
    z-index: 9999;
}

.input-group.btn {
    z-index: -1;
}

.fa-angle-up{
    padding: 8px 50px;
}

.scroll-to-top {
    width: auto;
    height: auto;
    margin-right: 6px;
}

.sidebar div {
    position: sticky;
    top: 0;
    overflow-y: auto;
}